@font-face {
  font-family: fonteroberta;
  src: url("Assets/roberta-webfont.woff2") format('woff2'),
       url('Assets/roberta-webfont.woff') format('woff');
}

*{
  font-family: "fonteroberta";
}

body{
  overflow-x: hidden;
  
  color: rgb(0, 0, 0);
}

a{
  color: #00882d;
  
}
a:hover {
  color: #ff0000;;
}
.col-auto{
  font-family:"fonteroberta";
  float:left;
}
.col-md-8 {
  margin: 2rem auto 8rem;
  padding-top: 2rem;
}
.col-md-8 h1 {
  -webkit-text-stroke: 2px #00882d;
    font-size: 5rem;
  }
  .btn-primary{
  
  

  padding: auto;
  font-size: 1.5rem;
  text-transform: uppercase;
 
  border-color: #00882d;
  background-color: #000000;
  color: #00882d;
  }
.btn-secondary {
  display:block;
  border-width: medium;
  border-radius: 0;
  padding: auto;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #00882d;
  background-color: #000000;
  color: #00882d;
}

.img-fluid{
  max-width: 45%;
}
.lead{
  font-size: 2rem;
  -webkit-text-stroke: 1px #00882d;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #ff0000;
  background-color: #000000;
  color: #ff0000;
  transition-duration: 0.4s;
  border-radius: 2px;
}
.btn-primary:hover,
.btn-primary:focus {
  border-color: #ff0000;
  background-color: #000000;
  color: #ff0000;
  transition-duration: 0.4s;
  border-radius: 2px;
}
.disco{
  text-align: center;
 
  
}
.container { 
  width:600px; 
  height:190px; 
  padding-top:20px; 
  padding-left:15px; 
  padding-right:15px;
  
} 
.container-fluid{
  padding-top: 15px;
  padding-right: 10px;
  color: #00882d;
  background-color: black;
}
.footer-copyright{
  color: #00882d;
  background-color: black;
}
#st-box { 
  display: inline-block;
  width:150px; 
  height:150px; 
  background-color:white; 
  
  margin-left:40px; 
} 

#nd-box { 
  display: inline-block;
  width:150px; 
  height:150px; 
  background-color:white;  
  
  margin-left:20px; 
} 
#rd-box { 
  display: inline-block;
  width:150px; 
  height:150px; 
  background-color:white; 
  
  margin-left:20px;
} 
.text-uppercase{
  font-size: 40px;
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/